#fundo{
    background-image: linear-gradient(to bottom right, #300606, #6E2D2C);
    padding: 20px;
}

h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nome{
    color: brown;
}